.disclaimer-main {
    width: 70%;
    padding-bottom: 5rem;
    line-height: 3rem;
    margin: auto;
}

.disclaimer-main h1 {
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: groove;
    width: 60%;
    margin: auto auto 2rem auto;
}

.disclaimer-main p {
    line-height: 2rem;
}