.team-main {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.department-nav {
    font-size: 1.5rem;
    text-align: center;
    position: fixed;
    bottom: -3rem;
    border-bottom: groove 2px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.department-nav:hover {
    bottom: 0;
}

.tp {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 10rem;
    height: 5rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    position: relative;
    margin-right: 2rem;
}

.tp-inv::before {
    border-top: 4.2rem solid transparent;
    border-right: 2rem solid #67B87E;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    top: .8rem;
    left: -2rem;
    z-index: 1;
}

.tp-inv {
    background-color: #67B87E;
}

.tp-inv::after {
    border-top: 4.2rem solid transparent;
    border-left: 2rem solid #67B87E;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    top: .8rem;
    left: 14rem;
    z-index: 1;
}

.tp-acc::before {
    border-top: 4.2rem solid transparent;
    border-right: 2rem solid #70cc8a;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    top: .8rem;
    left: -2rem;
    z-index: -1;
}

.tp-acc {
    background-color: #70cc8a;
}

.tp-acc::after {
    border-top: 4.2rem solid transparent;
    border-left: 2rem solid #70cc8a;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    top: .8rem;
    left: 14rem;
    z-index: -1;
}

.tp-leg::before {
    border-top: 4.2rem solid transparent;
    border-right: 2rem solid #67B87E;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    top: .8rem;
    left: -2rem;
    z-index: 1;
}

.tp-leg {
    background-color: #67B87E;
}

.tp-leg::after {
    border-top: 4.2rem solid transparent;
    border-left: 2rem solid #67B87E;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    top: .8rem;
    left: 14rem;
    z-index: 1;
}

.tp-nav::before {
    border-top: 4.2rem solid transparent;
    border-right: 2rem solid #70cc8a;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    top: .8rem;
    left: -2rem;
    z-index: -1;
}

.tp-nav {
    background-color: #70cc8a;
}

.tp-nav::after {
    border-top: 4.2rem solid transparent;
    border-left: 2rem solid #70cc8a;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    top: .8rem;
    left: 14rem;
    z-index: -1;
}

.department-nav a {
    text-decoration: none;
    padding-left: 2rem;
    padding-right: 2rem;
}

.department-nav a:hover {
    text-decoration: underline;
}

.team-members {
    margin-top: 4rem;
}

.dep-head {
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: .2rem outset;
    width: 70%;
    margin: auto;
}

.bio-pic {
    height: 15rem;
    width: 10rem;
}

.bio p {
    line-height: 1.75rem;
}

.person {
    padding-right: 1rem;
}

.invest-members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20rem 20rem 20rem;
    margin: 2rem 0 2rem 0;
}

.invest-members h3 {
    width: 11rem;
    margin: 0;
}

.invest-members .bio {
    width: 80%;
    height: auto;
}

.inv-one {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-column: 1 / span 2;
    grid-row: 1;
    padding-left: 2rem;
}

.inv-two {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-column: 1 / span 2;
    grid-row: 2;
    padding-left: 2rem;
}

.inv-three {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-column: 1 / span 2;
    grid-row: 3;
    padding-left: 2rem;
}

.accounting-members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20rem 20rem 20rem;
    margin: 2rem 0 2rem 0;
}

.accounting-members h3 {
    width: 11rem;
    margin: 0;
}

.accounting-members .bio {
    width: 80%;
    height: auto;
}

.acc-one {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-column: 1 / span 2;
    grid-row: 1;
    padding-left: 2rem;
}

.acc-two {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-column: 1 / span 2;
    grid-row: 2;
    padding-left: 2rem;
}

.acc-three {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-column: 1 / span 2;
    grid-row: 3;
    padding-left: 2rem;
}

.legal-members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 20rem);
    margin: 2rem 0 2rem 0;
}

.legal-members h3 {
    width: 11rem;
    margin: 0;
}

.legal-members .bio {
    width: 80%;
    height: auto;
}

.leg-one {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-column: 1 / span 2;
    grid-row: 1;
    padding-left: 2rem;
}

.leg-two {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-column: 1 / span 2;
    grid-row: 2;
    padding-left: 2rem;
}

.leg-three {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-column: 1 / span 2;
    grid-row: 3;
    padding-left: 2rem;
}

.leg-four {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-column: 1 / span 2;
    grid-row: 4;
    padding-left: 2rem;
}

.leg-five {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-column: 1 / span 2;
    grid-row: 5;
    padding-left: 2rem;
}

.leg-six {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-column: 1 / span 2;
    grid-row: 6;
    padding-left: 2rem;
}

