.footer {
    text-align: center;
    border-top: solid #000 .1rem;
    background-color: rgb(161, 150, 150);
    padding: 3rem 1rem 0 1rem;
    overflow: hidden;
}

.copy-right {
    margin-top: 1rem;
    font-size: .8rem;
    font-style: italic;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

p {
    line-height: 1.5rem;
}

.footer-disclaimer {
    font-size: .7rem;
    width: 70%;
    margin: auto;
    margin-top: -1rem;
    padding-top: inherit;
    line-height: 1rem;
}